<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- entry-point-ref show the popup, we want a stateless connection -->
	<http auto-config="true" use-expressions="true" create-session="never">
		<intercept-url pattern="/login/**" access="hasAnyRole('ROLE_ANONYMOUS')"
			method="GET" />
		<intercept-url pattern="/"
			access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" method="GET" />
		<intercept-url pattern="/" access="hasRole('ROLE_ADMIN')"
			method="POST" />
		<intercept-url pattern="/dashboard/**"
			access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" method="GET" />
		<intercept-url pattern="/dashboard/**" access="hasRole('ROLE_ADMIN')"
			method="POST" />
		<intercept-url pattern="/addComputer/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/editComputer/**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/login" authentication-failure-url="/login?error"
			username-parameter="j_username" password-parameter="j_password" />
		<logout logout-success-url="/login?logout" />
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userService" />
	</authentication-manager>

	<!-- Enable annotation-based security @Secured -->
	<!-- <global-method-security secured-annotations="enabled" /> -->

</beans:beans>
